.day {
  float: right;
}

.sunRain {
  font-size: 50px;
  color: #55b0dc;
}

.iconWeather {
  color: #55b0dc;
  font-size: 20px;
}

.btnUnit {
  background-color: #55b0dc;
  float: right;
  color: #fff;
}

.btnUnit > a {
  color: #fff;
}

.fa-file {
  color: #696969;
}

.fa-edit {
  color: #55b0dc;
}

.fa-trash {
  color: red;
}

/* table-km */

.upload-btn-info input[type="file"] {
  position: absolute;
  height: 80px;
  background-color: #4dc2ac;
  opacity: 0;
  left: 0;
  margin-top: 3em;
}

.btn-upload-text {
  border-style: dashed;
  width: 40%;
  height: 100px;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 3em;
  margin-left: 3em;
  opacity: 0.5;
}

.text-upload-file {
  margin-left: 5em;
  opacity: 0.5;
}

.inputText {
  margin-top: 1em;
}

.btnroot {
  width: fit-content;
  margin-bottom: 2em;
  margin-left: 1em;
  background-color: #55b0dc;
  border: 1px solid #55b0dc;
  color: #fff;
  font-size: 15px;
}

.btnroot:hover {
  color: #fff;
}

.plusSa {
  max-width: 65%;
  height: 90px;
  border: 1px solid #696969;
  border-style: dashed;
  border-radius: 8px;
  background-color: #fff;
  margin-left: 1em;
  cursor: pointer;
}

.fa-plus {
  font-size: 50px;
  color: #6d6d6d;
  background-color: #fff;
  position: relative;
}
.textIcon {
  margin-left: 1em;
}

.dateMounth {
  width: 100%;
  position: relative;
  display: flex;
}

.dateTerm {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #eaeaea;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.dateTerm:focus {
  color: #696969;
}

.dateButton {
  margin-top: 0.7em;
  width: 40px;
  height: 60px;
  border: none;
  text-align: center;
  color: #696969;
  background: #f4f4f4;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.tableModal {
  margin-top: 2em;
}

.img_Logo {
  width: 100px;
}

.imgLogo {
  width: 40%;
  height: 40%;
}

.modal-dialog {
  margin: 30px auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%) !important;
  width: auto;
}
.modal-header .close {
  font-size: 14px;
  margin-right: 8px;
}

.button {
  display: inline-block;
  position: relative;
  border-radius: 3px;
  text-decoration: none;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 2em;
  font-weight: bold;
  transition: all 0.5s;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button:hover {
  text-shadow: 0px 0px 0px rgba(255, 255, 255, 0.75);
}
.button:hover:after {
  left: 100%;
  top: 100%;
  bottom: 100%;
  right: 100%;
}
.button:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.5s;
}
.button:after {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 2px;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.5s;
}
.b-green,
.b-green:before {
  background: rgba(73, 155, 234, 1);
  background: -moz-linear-gradient(45deg, rgba(73, 155, 234, 1) 0%, rgba(26, 188, 156, 1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(73, 155, 234, 1)), color-stop(100%, rgba(26, 188, 156, 1)));
  background: -webkit-linear-gradient(45deg, rgba(73, 155, 234, 1) 0%, rgba(26, 188, 156, 1) 100%);
  background: -o-linear-gradient(45deg, rgba(73, 155, 234, 1) 0%, rgba(26, 188, 156, 1) 100%);
  background: -ms-linear-gradient(45deg, rgba(73, 155, 234, 1) 0%, rgba(26, 188, 156, 1) 100%);
  background: linear-gradient(45deg, rgba(73, 155, 234, 1) 0%, rgba(26, 188, 156, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#1abc9c', GradientType=1 );
}

/* table Kru */

.fa-camera {
  font-size: 40px;
  color: #bcbcbc;
  background-color: #fff;
  position: relative;
}

.came {
  max-width: 35%;
  height: 90px;
  border: 1px solid #696969;
  border-style: dashed;
  border-radius: 5px;
  background-color: #fff;
  margin-left: 1em;
  cursor: pointer;
}

.notif-unread {
  background-color: rgba(255, 1, 0, 0.25);
}


/* history */

.listCard {
  margin-top: 2em;
  border: 1px solid #696969;
}

.chosen-container.chosen-container-multi {
  width: 100% !important;
}

/* hover list name */

.test > a {
  color: #696969 !important;
  background: none !important;
}
.link:hover{ 
  color:#43abe2 !important;
}

.selectbox-scrollable
 {
  overflow-y:scroll; 
  position:absolute;
  padding:0 7px 0 0;
  width: calc(100% + 17px);
  height:100%;
  border:0;
}
.test{
  display:inline-block;
  background: none;
}
.divs {
  display: none;
  background-color: none;
}
.divs > li > a {
  background-color: none !important;
}

.divs-hover{
  display: block;
  position: absolute;
  background: #55B0DC;
  color: #fff;
  width: 10%;
  padding: 5px; 
  left: 5px;
  margin-left: 12em;
  cursor: pointer;
  border-radius: 5px;
}



.img-profit > img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}


.input-clone {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 10px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2)
}

.input-clone:last-child {
  border-bottom: none;
}

.thumb-cert {
        height: 100px;
        border-radius: 10px;      
        margin: 10px;
}


text { 
  color: #fff;
}

.hover-delete {
  overflow: hidden;
}

.hover-delete > span {
  opacity: 0;
  position: absolute;
  font-size: 32px;
  color: rgb(255, 55, 55);
  text-align: center;
  transform: translate(150%, 75%);
  text-shadow: 1px 1px 5px black;
  transition-duration: 500ms;
}

.hover-delete:hover > span {
  opacity: 1;
  transition-duration: 500ms;
}

.text-show {
  font-weight: bold;
  text-transform: uppercase;
}

.border-left-info {
  border-left: 0.25rem solid #36b9cc !important;
}

.border-left-success {
  border-left: 0.25rem solid #1cc88a !important;
}

.border-left-secondary {
  border-left: 0.25rem solid #858796 !important;
}

.badge-notif {
  position:relative;
  
}

.badge-notif[data-badge]:after {
  content:attr(data-badge);
  position:absolute;
  top:-10px;
  right:-10px;
  font-size:.7em;
  background:#e53935;
  color:red;
  width:7px;
  height:7px;
  text-align:center;
  line-height:7px;
  border-radius: 50%;
}

.dot {
  position:absolute;
  top:-10px;
  right:-10px;
  height: 7px;
  width: 7px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}